<!DOCTYPE html>
<html>
  <head>
    <title>Index Page</title>
  </head>
  <body>
    <h1>Welcome, To My blog</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum minima nostrum nihil animi ratione quas libero ipsam ea optio, pariatur aperiam explicabo tempora dicta dolor, unde accusantium minus alias deserunt!</p>
  </body>
</html>